params {
  config_profile_description = ' cluster profile '
  config_profile_contact     = 'NAME '
  config_profile_url         = ''

  // hardware resources
  max_memory = 600.GB
  max_cpus = 64
  max_time = 240.h
}
 //singularity images stored on the /cache directory
singularity {
  enabled       = true
  cacheDir      = '/genomics/HOSPITAL/singularity/cache'
  autoMounts    = true
}

process {
  executor   = 'slurm'
  queue      = 'hospital'
  scratch    = '/scratch/HOSPITAL'
}

plugins {
        // Set the plugin version explicitly, otherwise nextflow will look for the newest version online.
        id 'nf-validation@1.0.0'
}


// Enable retries globally for certain exit codes
process {
//  maxErrors     = '-1'
  maxRetries    = 5
  errorStrategy = { task.attempt <= 5 ? 'retry' : 'finish' }
}

